*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    overflow-x: hidden;
}

 /* BODY CSS */

body{
    font-family: open sans;
    background: rgb(239, 237, 237);
    overflow-x:hidden;
}
html{
    scroll-behavior: smooth;
}

/* TOP BAR CSS */

.top-bar{
    background-color: white;
    padding: 40px 60px 10px;
}
.top-bar i{
    margin-right: 30px;
    font-size: 25px;
    color: #000;
}
.top-bar i:link{
    color: #000;
}
.top-bar i:hover{
    color: #fa6a6a;
    cursor: pointer;  
}
.logo{
    position: relative;
    left: 250px;
    cursor: pointer;
}
.search-input{
    position: relative;
    left: 400px;
}
.search-input input{
    background: #efefef;
    border: 0;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;  
}
.search-input input:focus{
    outline: 0;
}
.search-input button{
    font-weight: bold;
    color: white;
    position:absolute;
    border: 0;
    background: #fc8383;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    height: 100%;
}
.search-input button:hover{
    background: #ff9090;
}

/* NAV BAR CSS */

.nav-items,.logo,.search-input{
    display: inline-block;
}
.nav-items{
    margin-left: 50px;
}
.logo{
    vertical-align: middle;
}
nav{
    text-align: center;
    position: sticky;
    top: 0;
    background: white;
    padding: 15px;
    z-index: 1;
    filter: drop-shadow( #e1e1e1 1rem 1rem 5px);
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #444444;
    margin-right: 40px;
    font-weight:500;
}
nav a:hover{
    color: #fa6a6a;
}

/* HOME */

.section-1{
    padding: 70px;
    position: relative;
    left: 30px;
    background-image: url(pictures/header-img.webp);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section-1 .section-1-content{
    margin-top: 140px;
}
.section-1 .section-1-content button.view-btn:hover{
    background: #000;
}
.section-1 .section-1-content button.explore-btn:hover{
    color: #000;
border-color: #000;
}
.section-1 .section-1-content h1{
    font-size: 55px;
    width: 800px;
}
.section-1 .section-1-content p{
font-style: 18px;
margin: 15px 0px 40px;
line-height:1.6; 
}
.section-1 .section-1-content .view-btn,.section-1 .section-1-content
.explore-btn{
    font-family: inherit;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
   border: 0;
   color: white;
   font-size: 16px;
}
.section-1 .section-1-content .view-btn{
    background: #fa6a6a;
}
.section-1 .section-1-content .explore-btn{
    color: #fa6a6a;
    margin-left: 30px;
    border: solid #fa6a6a;
}
.section-2{
    padding:20px;
    text-align: center;
    background: white;
}
.section-2 .section-2-content{
    display: inline-block;
    margin: 50px;
}
.section-2-content h1{
    font-size: 45px;
}
.section-2-content p{
    text-transform: uppercase;
    margin-top: 10px;
}

/* ABOUT */

.section-3{
    padding: 30px;
    margin: 100px 170px;
}
.section-3 img{
    width: 550px;
    height: 550px;
    float: left;
}
.section-3-content{
    float: right;
    width: 550px;
}
.section-3-content button:hover{
    background: #000;
}
.section-3-content span{
    color: #fa6a6a;
letter-spacing: 2px; 
    text-transform: uppercase;
    font-weight: bold;
}
.section-3-content h2{
    font-size: 45px;
    margin: 15px 0px;
    line-height: 1.4;
}
.section-3-content p{
    line-height: 2;
    margin-bottom: 20px;
}
.section-3-content button{
    color: white;
    font-family: inherit;
    font-size: 16px;
    background: #fa6a6a;
    border: 0;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
}

/* NEW RELEASE */

.section-4{
    clear: both;
    text-align: center;
    padding-top: 70px;
}
.section-4 span{
    color: #fa6a6a;
    text-transform:uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.section-4 h2{
    font-size: 45px;
}
.section-4 .book-main-div{
    width: 100%;
    margin-top: 60px;
}
.book-main-div .book-div img{
    width: 250px;
    height: 300px;
    float: left;
}
.book-div{
    width: 400px;
    display: inline-block;
    margin-right: 30px;
}
.book-div img:hover{
    /* box-shadow: rgba(85, 84, 84, 0.50) 0px 8px 18px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}
.book-div .book-content{
    float: right;
    width: 150px;
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
}
.book-div .book-content h3{
    font-size: 22px;
}

/* CONTACT */

.footer{
    background: #000;
    color: white;
    padding: 100px 100px 70px;
    margin-top: 50px;
}
.footer-box{
    display: inline-block;
    width: 400px;
    margin-right: 30px;
}
.footer-box2{
    position: relative;
    top: 15px;
}
.footer-box3{
    position: relative;
    top: -15px;
}
.footer-box h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.footer-box2 a{
    display:block;
    text-decoration:none;
    color: white;
    margin-bottom: 10px;
}
.footer .icon-div{
    margin-top: 20px;
}
.footer .icon-div i{
    color: white;
    background: #fa6a6a;
    padding: 12px;
    border-radius: 100px;
    margin-right: 12px;
    cursor: pointer;
}
.footer .icon-div i:link{
    color: white;
}

.footer .icon-div i:hover{
    background: #fb5959;
}
.footer-box3 p{
    margin-bottom: 20px;
}
.copyrights{
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
}
